.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
build/
src/*.egg-info/
configs/*.env
data/raw/cache/*
data/raw/flat/*
!data/raw/cache/.gitkeep
!data/raw/flat/.gitkeep
data/processed/*
!data/processed/.gitkeep
figures/*
!figures/.gitkeep
logs/*
!logs/.gitkeep
